div.container{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 20px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
h1{
    font-size: 90px;
    font-family: 'Montserrat', sans-serif;
}
.E{
    transform: rotate(-40deg);
}
